<div class="container">
    <div>
    <h2>Ajouter une jeu :</h2>
    </div>
    <form >
    <div class="col-sm-2 col-md-2 col-lg-2">
    <label >Game ID</label>
    <input type="text" [(ngModel)]="newGame.idGame"name="idGame" class="form-control">
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4" >
    <label >Name</label>
    <input type="text" [(ngModel)]="newGame.nomGame" name="nomGame" class="form-control">
    </div>

    <div class="col-sm-2 col-md-2 col-lg-2">
    <label >Prix</label>
    <input type="number" [(ngModel)]="newGame.prixGame" name="prixGame" class="form-control">
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Genre</label>
        <select class="form-control form-control-lg" id="idGenre" name="idGenre"
        [(ngModel)]="newIdGenre">
        <option *ngFor="let cat of genres" [value]="cat.idGenre" >
        {{cat.nomGenre}}
        </option>
        </select>
        </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
    <label >Date création</label>
    <input type="date" [(ngModel)]="newGame.dateCreation" name="dateCreation" class="form-control">
    </div>

    <div class="mt-2">
    <button type="submit" (click)="addGame()"class="btn btn-success">Ajouter</button>
    </div>
    </form>
    
    </div>